/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

.container {
    max-width: 400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Definizione colonne */

.row>[class^='col'] {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.row>.col {
    flex-grow: 1;
    max-width: 100%;
}

.row>.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.row>.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row>.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row>.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row>.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row>.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row>.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.row>.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row>.col-4 {
    max-width: calc(100% / 12 * 4);
    flex-basis: calc(100% / 12 * 4);
}

.row>.col-3 {
    max-width: calc(100% / 12 * 3);
    flex-basis: calc(100% / 12 * 3);
}

.row>.col-2 {
    max-width: calc(100% / 12 * 2);
    flex-basis: calc(100% / 12 * 2);
}

.row>.col-1 {
    max-width: calc(100% / 12);
    flex-basis: calc(100% / 12);
}

/* Offset */

.row>.offset-12 {
    margin-left: 100%;
}

.row>.offset-11 {
    margin-left: calc(100% / 12 * 11);

}

.row>.offset-10 {
    margin-left: calc(100% / 12 * 10);

}

.row>.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.row>.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.row>.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.row>.offset-6 {
    margin-left: 50%;
}

.row>.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.row>.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.row>.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.row>.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.row>.offset-1 {
    margin-left: calc(100% / 12 * 1);
}

.row>.offset-0 {
    margin-left: 0;
}

/*! Responsive */

/* 
Breakpoint Mobile-first
xs: standard
sm: 576px
md: 768px
lg: 992px
xl: 1200px
xxl: 1400px
*/

/*# Viewport Small */

@media screen and (min-width:576px) {

    .row>.col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-sm-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-sm-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-sm-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-sm-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-sm-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row>.col-sm-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-sm-4 {
        max-width: calc(100% / 12 * 4);
        flex-basis: calc(100% / 12 * 4);
    }

    .row>.col-sm-3 {
        max-width: calc(100% / 12 * 3);
        flex-basis: calc(100% / 12 * 3);
    }

    .row>.col-sm-2 {
        max-width: calc(100% / 12 * 2);
        flex-basis: calc(100% / 12 * 2);
    }

    .row>.col-sm-1 {
        max-width: calc(100% / 12);
        flex-basis: calc(100% / 12);
    }

    /* Offset */

    .row>.offset-sm-12 {
        margin-left: 100%;
    }

    .row>.offset-sm-11 {
        margin-left: calc(100% / 12 * 11);

    }

    .row>.offset-sm-10 {
        margin-left: calc(100% / 12 * 10);

    }

    .row>.offset-sm-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .row>.offset-sm-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .row>.offset-sm-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .row>.offset-sm-6 {
        margin-left: 50%;
    }

    .row>.offset-sm-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .row>.offset-sm-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .row>.offset-sm-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .row>.offset-sm-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .row>.offset-sm-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .row>.offset-sm-0 {
        margin-left: 0;
    }
}

/*# Viewport Medium */

@media screen and (min-width:768px) {

    .row>.col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-md-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-md-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-md-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-md-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-md-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row>.col-md-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-md-4 {
        max-width: calc(100% / 12 * 4);
        flex-basis: calc(100% / 12 * 4);
    }

    .row>.col-md-3 {
        max-width: calc(100% / 12 * 3);
        flex-basis: calc(100% / 12 * 3);
    }

    .row>.col-md-2 {
        max-width: calc(100% / 12 * 2);
        flex-basis: calc(100% / 12 * 2);
    }

    .row>.col-md-1 {
        max-width: calc(100% / 12);
        flex-basis: calc(100% / 12);
    }

    /* Offset */

    .row>.offset-md-12 {
        margin-left: 100%;
    }

    .row>.offset-md-11 {
        margin-left: calc(100% / 12 * 11);

    }

    .row>.offset-md-10 {
        margin-left: calc(100% / 12 * 10);

    }

    .row>.offset-md-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .row>.offset-md-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .row>.offset-md-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .row>.offset-md-6 {
        margin-left: 50%;
    }

    .row>.offset-md-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .row>.offset-md-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .row>.offset-md-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .row>.offset-md-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .row>.offset-md-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .row>.offset-md-0 {
        margin-left: 0;
    }

}

/*# Viewport Large */

@media screen and (min-width:992px) {

    .row>.col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-lg-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-lg-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-lg-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-lg-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-lg-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row>.col-lg-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-lg-4 {
        max-width: calc(100% / 12 * 4);
        flex-basis: calc(100% / 12 * 4);
    }

    .row>.col-lg-3 {
        max-width: calc(100% / 12 * 3);
        flex-basis: calc(100% / 12 * 3);
    }

    .row>.col-lg-2 {
        max-width: calc(100% / 12 * 2);
        flex-basis: calc(100% / 12 * 2);
    }

    .row>.col-lg-1 {
        max-width: calc(100% / 12);
        flex-basis: calc(100% / 12);
    }

    /* Offset */

    .row>.offset-lg-12 {
        margin-left: 100%;
    }

    .row>.offset-lg-11 {
        margin-left: calc(100% / 12 * 11);

    }

    .row>.offset-lg-10 {
        margin-left: calc(100% / 12 * 10);

    }

    .row>.offset-lg-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .row>.offset-lg-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .row>.offset-lg-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .row>.offset-lg-6 {
        margin-left: 50%;
    }

    .row>.offset-lg-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .row>.offset-lg-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .row>.offset-lg-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .row>.offset-lg-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .row>.offset-lg-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .row>.offset-lg-0 {
        margin-left: 0;
    }

}

/*# Viewport Extra Large */

@media screen and (min-width:1200px) {

    .row>.col-xl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-xl-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-xl-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-xl-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-xl-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-xl-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-xl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row>.col-xl-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-xl-4 {
        max-width: calc(100% / 12 * 4);
        flex-basis: calc(100% / 12 * 4);
    }

    .row>.col-xl-3 {
        max-width: calc(100% / 12 * 3);
        flex-basis: calc(100% / 12 * 3);
    }

    .row>.col-xl-2 {
        max-width: calc(100% / 12 * 2);
        flex-basis: calc(100% / 12 * 2);
    }

    .row>.col-xl-1 {
        max-width: calc(100% / 12);
        flex-basis: calc(100% / 12);
    }

    /* Offset */

    .row>.offset-xl-12 {
        margin-left: 100%;
    }

    .row>.offset-xl-11 {
        margin-left: calc(100% / 12 * 11);

    }

    .row>.offset-xl-10 {
        margin-left: calc(100% / 12 * 10);

    }

    .row>.offset-xl-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .row>.offset-xl-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .row>.offset-xl-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .row>.offset-xl-6 {
        margin-left: 50%;
    }

    .row>.offset-xl-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .row>.offset-xl-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .row>.offset-xl-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .row>.offset-xl-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .row>.offset-xl-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .row>.offset-xl-0 {
        margin-left: 0;
    }

}

/*# Viewport Extra Extra Large */

@media screen and (min-width:1400px) {

    .row>.col-xxl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .row>.col-xxl-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-xxl-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-xxl-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-xxl-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-xxl-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-xxl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row>.col-xxl-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-xxl-4 {
        max-width: calc(100% / 12 * 4);
        flex-basis: calc(100% / 12 * 4);
    }

    .row>.col-xxl-3 {
        max-width: calc(100% / 12 * 3);
        flex-basis: calc(100% / 12 * 3);
    }

    .row>.col-xxl-2 {
        max-width: calc(100% / 12 * 2);
        flex-basis: calc(100% / 12 * 2);
    }

    .row>.col-xxl-1 {
        max-width: calc(100% / 12);
        flex-basis: calc(100% / 12);
    }

    /* Offset */

    .row>.offset-xxl-12 {
        margin-left: 100%;
    }

    .row>.offset-xxl-11 {
        margin-left: calc(100% / 12 * 11);

    }

    .row>.offset-xxl-10 {
        margin-left: calc(100% / 12 * 10);

    }

    .row>.offset-xxl-9 {
        margin-left: calc(100% / 12 * 9);
    }

    .row>.offset-xxl-8 {
        margin-left: calc(100% / 12 * 8);
    }

    .row>.offset-xxl-7 {
        margin-left: calc(100% / 12 * 7);
    }

    .row>.offset-xxl-6 {
        margin-left: 50%;
    }

    .row>.offset-xxl-5 {
        margin-left: calc(100% / 12 * 5);
    }

    .row>.offset-xxl-4 {
        margin-left: calc(100% / 12 * 4);
    }

    .row>.offset-xxl-3 {
        margin-left: calc(100% / 12 * 3);
    }

    .row>.offset-xxl-2 {
        margin-left: calc(100% / 12 * 2);
    }

    .row>.offset-xxl-1 {
        margin-left: calc(100% / 12 * 1);
    }

    .row>.offset-xxl-0 {
        margin-left: 0;
    }

}